<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="home-card23">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <h1 id="home-heading2" style="color:#000000;">Event Name</h1>
      <div id="home-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Venue: </p>
      </div>
      <div id="home-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date: </p>
      </div>
    </div>
  </ion-content>
</ion-view>