<ion-view title="Home" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="list card" ng-repeat = "feed in feeds" id="home-card23">
     
        <img ng-src="{{feed.image}}" style = "width:100%">
 
      <h1 id="home-heading2" style="color:#000000;">{{feed.name}}</h1>
      <div id="home-markdown8" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Venue: </p>
      </div>
      <div id="home-markdown9" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Date: </p>
      </div>
    </div>
  </ion-content>
</ion-view>